@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html {
  --bg-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --element-color: hsl(0, 0%, 100%);
  --switch-color: #f4f4f4;
}

html[data-theme='dark'] {
  --bg-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --element-color: hsl(209, 23%, 22%);
  --switch-color: hsl(0, 1%, 76%);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-inline: 80px;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 25px;
}

.navbar .logo {
  font-size: 31px;
  font-weight: 800;
  color: var(--text-color);
}

.navbar-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-toggle h2 {
  font-weight: 600;
  color: var(--text-color);
}

.navbar input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.navbar input:checked + label {
  background: var(--switch-color);
}

.navbar input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active::after {
  width: 45px;
}

.navbar label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

.navbar label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

/* SEARCH BAR */
.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 46px;
}

.search-bar {
  width: 100%;
}

.form-control {
  position: relative;
}

.search-bar input {
  width: 60%;
  padding: 16px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 6px;
  padding-left: 3rem;
  background-color: var(--element-color);
  color: var(--text-color);
}

.search-bar input:focus {
  outline: 2px solid var(--text-color);
}

.search-bar input::placeholder {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-color);
}

.search-bar .search-icon {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  color: var(--text-color);
}

/* COUNTRY LIST */

.list-country {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.country {
  overflow: hidden;
  width: 263px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.country-img {
  height: 160px;
  box-shadow: 0px 20px 18px -8px rgba(0, 0, 0, 0.1);
}

.country img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-desc {
  padding: 25px;
  background-color: var(--element-color);
}

.country-desc h3 {
  font-size: 18px;
  font-weight: 800;
  color: var(--text-color);
}

.country-desc p {
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
  margin: 0;
}

.country-desc span {
  font-weight: 300;
}

/* LOADING */

.loader-container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.loader {
  width: 8rem;
  height: 8rem;
  border: 7px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* DROP DOWN */
.dropdown {
  position: relative;
  width: 50%;
}

.dropdown > button {
  position: relative;
  z-index: 2;
}

.dropdown button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px;
  margin: 0;
  width: 200px;
  height: 64px;
  border-radius: 6px;
  background-color: var(--element-color);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  margin-left: auto;
  color: var(--text-color);
}

.dropdown button:hover {
  background: var(--switch-color);
}

.dropdown.open > button {
  background: var(--switch-color);
}

.dropdown .menu {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 65px;
  right: 0;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  translate: 0 -20px;
  transition: 0.4s;
}

.dropdown .menu button {
  height: 56px;
  width: 100%;
  border-radius: 0;
}

.dropdown.open .menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

/* COUNTRY DETAIL */
.btn {
  padding: 6px 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: var(--element-color);
}

.btn:hover {
  background-color: var(--switch-color);
}

.btn-back {
  margin-bottom: 68px;
  color: var(--text-color);
}

.btn-borders {
  margin-right: 7px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.country-detail {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 118px;
}

.country-img-detail {
  flex: 1;
  max-width: 562px;
  height: 100%;
}

.country-img-detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-desc-detail {
  flex: 1;
  padding-block: 35px;
}

.country-detail-wrapper {
  display: flex;
  justify-content: space-between;
}

.country-desc-detail h2 {
  margin-top: 0;
  font-size: 32px;
  color: var(--text-color);
}

.country-desc-detail p {
  font-weight: 600;
  color: var(--text-color);
}

.country-desc-detail span {
  font-weight: 300;
}
